h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}
.my-padding {
  padding: 25px 0px;
}
.header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
}
.square {
  height: 100px;
  width: 100px;
  background: #fff;
  padding: 2px;
  font-size: 46px;
}
.center-align {
    text-align: center;
}
.container {
  height: 550px;
}